.footer__container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    border-top: 1px solid #cbcbcb;
}

.footer {
    width: 80%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.footer_component {
    height: 100%;

    h5 {
        font-size: 12px;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
            font-size: 12px;
            list-style: none;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            color: gray;
        }

        li:hover {
            text-decoration: underline;
        }
    }
}

.footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    p {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
    }
}